@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/pattern-bg.png") no-repeat;
    background-size: cover;
    padding: 1em;

    h1 {
        color: white;
        font-size: 2em;
        text-align: center;
        margin: 1em 0;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3em;

        input {
            outline: none;
            width: 40vw;
            font-size: 18px;
            height: 8vh;
            padding: 0 1em;
            border-radius: 1em 0 0 1em;
            border: none;
            color: $very-dark-gray;

            &::placeholder {
                color: $dark-gray;
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
            border-radius: 0 1em 1em 0;
            cursor: pointer;
            height: 8vh;
            width: 8vh;
        }
    }
}

.card {
    display: flex;
    background: white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 2px 2px 10px $dark-gray;
    margin-bottom: -5em;
    z-index: 999;

    div {
        width: 20vw;
        padding: 1em;

        .text {
            text-transform: uppercase;
            font-weight: 700;
            font-size: .8em;
            letter-spacing: 2px;
            color: $dark-gray;
        }

        p {
            color: $very-dark-gray;
            font-weight: 500;
            margin-top: .5em;
            font-size: 1.8vw;
            padding-right: 2em;
        }
    }
}

#map {
    width: 100vw;
    height: 100vw;
    min-height: 1800px;

    .leaflet-control-zoom-in, 
    .leaflet-control-zoom-out {
        display: none;
    }
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 999;
    background: url("../images/pattern-bg.png") no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 2em;
    width: 100vw;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: rgb(187, 187, 187);
            transition: 200ms;
        }
    }
}

@media screen and (max-width: 885px) {
    .top {        
        padding: 2em;

        .form {
            width: 100%;
            margin-bottom: 2em;

            input {
                width: 100%;
            }
        }
    }
    
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: -8em;
    
        div {
            width: 100%;
            padding: 1em;
            text-align: center;

            p {
                color: $very-dark-gray;
                font-weight: 500;
                margin-top: .5em;
                font-size: 1.5em;
                padding: 0;
            }
        }
    }
}